.section-Customer-History-Form {
    padding: 9.6rem 0;
}

.History-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    border-radius: 11px;
    
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    overflow: hidden;
    height: auto;
}

.heading-container {
    grid-column: 1 / span 3; /* Tiêu đề sẽ chiếm toàn bộ 3 cột */
    text-align: center;
}

.History-form-text-box {
    padding: 0rem 6.4rem 6.4rem 6.4rem;
    color: #45260a;
}

.History-form-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}

.History-form .heading-secondary {
    /* color: #45260a; */
    margin-bottom: 3.2rem;
    font-size: 3.6rem;
}

    
.History-form-info {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.History-form label {
    display: block;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.History-form input::placeholder {
    color: #aaa;
}

.History *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/*History form pic*/
.History-form-pic {
    display: flex;
    flex-direction : column;
    justify-content: space-between;
    align-items : center;

    padding-bottom: 6.4rem;
}

.History-form-img-box {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    height: 32rem;
    border-radius: 15px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.History-form-list {
    display: flex;
    flex-direction : column;
    align-items : center;
}

.btn--form {
    align-self: normal;
}
.change-img-text {
    font-size: 1.8rem;
}

.heading-img-text {
    font-size: 1.8rem;
    font-weight: 520;
    color: #333;
}

/*wrapper*/
.wrapper {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    background-color: #fdf2e9;
    min-height: 16rem;
    height: auto;

    display: grid;
    grid-template-columns: 3fr 1fr;
}

.wrapper-info {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 1.4rem;
}

.wrapper-info div {
    padding: 2.4rem;
}

.wrapper-info span {
    font-weight: 520;
    font-size: 1.6rem;
}

.bile {
    font-size: 1.8rem;
}

.wrapper-list {
    width: 100%;
    height: 100%;

    font-size: 1.4rem;
}

.wrapper-list div {
    padding: 1.4rem;
}

.wrapper-list span {
    font-weight: 520;
    font-size: 1.4rem;
}

